.cell-card--base {
  background-color: #fff;
  border-radius: 10px;
}

.cell-card--default:extend(.cell-card--base) {
  padding: 19px;
}

.cell-card--sm:extend(.cell-card--base) {
  padding: 12px 19px;
}
